@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Roboto+Mono:wght@700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;

  @media screen and (max-width: 800px) {
    /* padding: 10px; */
  }
}

a {
  text-decoration: none;
  color: black;
}
