@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Roboto+Mono:wght@700&display=swap');

body {
  font-family: 'IBM Plex Mono', monospace;
}

a {
  text-decoration: none;
  color: black;
}
